*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

header{
    height: 20vh;
    background-color:rgb(171, 211, 247);
}

main{
    height: 60vh;
}

footer {
    height: 20vh;
}
#foot  {
    padding-top: 4%;
}

#colorcillo {
    color:rgb(171, 211, 247);
}

#lol {
    
    padding-top: 1%;
}
#lol button {
    border: 1px solid rgb(171, 211, 247); ;
    background-color:rgb(171, 211, 247); 
}
#bor {
    padding: 3px;
    border-radius: 6px;
    border: 1px solid black;

}

/* sacar botoncitos para subir y bajar del imput numerico */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}