*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

header{
    height: 15vh;
    background-color:$color-back;
}

#nav {
    background-color: $color-back ;
}

#mainchico {
    max-width: 80%;
}

main{
    max-width: 80%;
    height: 60vh;
}

footer {
    height: 15vh;
}
#foot  {
    padding-top: 4%;
}

#lol {
    padding-top: 1%;
}
#lol button {
    border: 1px solid $color-back; ;
    background-color:$color-back; 
}
#bor {
    padding: 3px;
    border-radius: 6px;
    border: 1px solid black;

}

#listilla {
    list-style-type: none;
}

/* sacar botoncitos para subir y bajar del imput numerico */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

.caj:hover .anim {-webkit-transform:scale(1.3);transform:scale(1.3);}
.caj {overflow:hidden;}
#cajita {
    border-style: solid;
    color:$color-aqua;
}
#cajita h1 {
    color:$color-blk;
}
#cajita p {
    color: $color-blk;
}